.CFUserTextEncoding
.DS_Store
.Trash
.anomos
.bash_history
.bash_it
.bash_it_old
.bashrc
.config
.cups
.dbvis
.dirs
.dvdcss
.git
.gitconfig
.groovy
.http4e
.ievms
.ivy2
.jrebel
.lesshst
.m2
.mplayer
.psql_history
.recently-used.xbel
.reflex
.ssh
.ttytterkey
.vim
.viminfo
.vimrc
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
applescripts
eclipse
javatmp
play-1.2.2
workspace
VirtualBox VMs